<div class="comments-container">
  <div class="comment-bubble" *ngFor="let comment of commentaires">
    <div class="comment-content">
      <img [src]="comment.auteur" [alt]="'Avatar de ' + comment.auteur" class="avatar">
      
      <div class="comment-main">
        <div class="comment-header">
          <div class="author-info">
            <span class="author">{{comment.auteur}}</span>
            <span class="date">{{comment.date | date:'dd MMM, HH:mm'}}</span>
          </div>
          
          <button class="options-button">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
            </svg>
          </button>
        </div>
        
        <p class="comment-text">{{comment.texte}}</p>
        
        <div class="comment-actions">
          <button class="action-button">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"/>
            </svg>
            <span>Like</span>
          </button>
          
          <button class="action-button">Répondre</button>
        </div>
      </div>
    </div>
  </div>
</div>