<!-- details-formation.component.html -->
<div class="formation-card compact-card" *ngIf="FormationsDto">
  <div class="card-image">
    <img
      [src]="
        FormationsDto.photo
          ? 'assets/affiche_formation/' + FormationsDto.photo
          : 'assets/affiche_formation/formation.png'
      "
      class="img-fluid rounded product-image"
    />
    <div class="card-overlay">
      <button
        class="preview-btn"
        (click)="voirApercu(FormationsDto.id)"
        *ngIf="FormationsDto.id"
      >
        Aperçu du programme
      </button>
    </div>
  </div>

  <div class="card-content">
    <h3 class="formation-title">
      {{ FormationsDto.titre || "Titre inconnu" }}
    </h3>

    <div class="formation-details">
      <div class="detail-item">
        <img
          [src]="'assets/duree.png'"
          alt="Durée"
          style="width: 20px; height: auto"
        />
        <span>{{ FormationsDto.duree }} Jours</span>
      </div>
      <div class="detail-item">
        <img
          [src]="'assets/niveau.png'"
          alt="Durée"
          style="width: 20px; height: auto"
        />
        <span>{{ FormationsDto.niveau }}</span>
      </div>
      <div class="detail-item">
        <img
          [src]="'assets/places.png'"
          alt="Durée"
          style="width: 20px; height: auto"
        />
        <span>{{ FormationsDto.placesMax }} places</span>
      </div>
      <div class="detail-item">
        <img
          [src]="'assets/icons/certificat.png'"
          alt="Durée"
          style="width: 20px; height: auto"
        />
        <span>Certification</span>
      </div>
    </div>

    <p class="description">
      <img
        [src]="'assets/description.png'"
        alt="Durée"
        style="width: 20px; height: auto"
      />{{ FormationsDto.description }}
    </p>

    <div class="card-footer">
      <div class="price-container">
        <span class="price">
          <img
            [src]="'assets/prix.png'"
            alt="Durée"
            style="width: 20px; height: auto"
          />
          {{ FormationsDto.prix }}DT</span
        >
      </div>
    </div>

    <!-- Boutons d'action -->
    <div class="card-footer d-flex">
      <button class="btn btn-primary btn-sm" (click)="modifierArticle()">
        <i class="fas fa-pencil-alt"></i> Modifier
      </button>
      <button
        class="btn btn-danger btn-sm"
        (click)="afficherConfirmationSuppression()"
      >
        <i class="fas fa-trash-alt"></i> Supprimer
      </button>
      <button
        class="btn btn-warning btn-sm"
        (click)="voirApercu(FormationsDto.id)"
        *ngIf="FormationsDto.id"
      >
        Détails
      </button>
    </div>
  </div>
</div>