<header class="dashboard-header">
  <div class="header-container">
    <div class="header-actions">
      <div class="notifications">
        <i class="fas fa-bell"></i>
        <span class="notification-badge">3</span>
      </div>

      <div class="user-profile">
        <!--                     <img src="/assets/Profil.png" alt="Profile" class="profile-image">
 -->
        <i class="fas fa-user"></i>
        <span class="username">Nermine Meddeb</span>
        <div class="dropdown-icon">
          <i class="fas fa-chevron-down"></i>
        </div>

        <div class="profile-dropdown">
          <ul>
            <li>
              <a href="#profile"><i class="fas fa-user"></i> Mon Profil</a>
            </li>
            <li>
              <a href="#settings"><i class="fas fa-cog"></i> Paramètres</a>
            </li>
            <li class="logout">
              <a href="#logout"
                ><i class="fas fa-sign-out-alt"></i> Déconnexion</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
