<div class="student-card">
  <div class="card-header">
    <div class="student-avatar">
    </div>
    <div class="student-info">
      <h3>👤 {{ UtilisateursDto.nom }} {{ UtilisateursDto.prenom }}</h3>
      <p class="email">📧 {{ UtilisateursDto.email }}</p>
      <p class="telephone">📞 {{ UtilisateursDto.telephone || 'Non renseigné' }}</p>
    </div>
    <div class="role-badge">
      🛡️ Rôles : {{ UtilisateursDto.role  }}
    </div>
  </div>

  <div class="card-actions">
    <button class="btn btn-primary" (click)="modifierClient()">
      <span>✏️ Modifier</span>
    </button>

    <button class="btn btn-info" (click)="AfficherDetailsSupplimentaire()">
      <span>🔍 Détails</span>
    </button>

    <button
      class="btn btn-danger"
      data-bs-toggle="modal"
      [attr.data-bs-target]="'#deleteModal' + UtilisateursDto.id"
    >
      <span>🗑️ Supprimer</span>
    </button>
  </div>
</div>