<!-- admin-layout.component.html -->
<div class="container-fluid">
    <div class="row">
      <app-sidebar-admin class="sidebar"></app-sidebar-admin>
  
      <div class="main-content">
        <div class="header">
          <!-- Header content here -->
           <app-header></app-header>
        </div>
  
        <div class="content">
          <router-outlet></router-outlet>
        </div>
  
        <div class="footer">
          <!-- Footer content here -->
        </div>
      </div>
    </div>
  </div>
  